@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvatica";
  src: url(/Helvetica.ttf);   
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: "Helvatica";
}

@layer components {
  .cantainer {
    @apply max-w-[1400px] mx-auto;
  }
  .hover_effect_navlinks {
    @apply hover:text-yellow-400 transition-colors duration-300 ease-linear;
  }
  .hover_effect_navbtn {
    @apply hover:-translate-y-2 hover:bg-yellow-400 hover:text-zinc-950 transition-all  shadow-black duration-300 ease-linear;
  }
}
