@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvatica";
  src: url(/Helvetica.ttf);
}



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(20, 20, 20);
  color: rgb(0, 0, 0);
  font-family: "Sora", sans-serif;
}

@layer components {
  .cantainer {
    @apply max-w-[1400px] mx-auto;
  }
  .hover_effect_navlinks {
    @apply hover:text-yellow-400 transition-colors duration-300 ease-linear;
  }
  .hover_effect_navbtn {
    @apply hover:-translate-y-2 hover:bg-yellow-400 hover:text-zinc-950 transition-all  shadow-black duration-300 ease-linear;
  }
  .header_img {
    transform: rotateY(180deg);
  }
  .header_btn_shadow {
    box-shadow: 0px 5px 20px rgb(206, 168, 18);
  }
  .hexagon_shape {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .hexagone_shape_shadow {
    filter: drop-shadow(0px 5px 10px rgb(206, 168, 18));
  }
  .wrapper.six {
    background-color: #222222;
  }
  .introtxt {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #111;
    margin: 0;
    padding: 0;
    line-height: 1;
    overflow: hidden;
  }

  .text1::before {
    content: attr(data-text);
    position: absolute;
    z-index: 1;
    color: rgb(206, 168, 18);
    pointer-events: none;
    width: 0;
    overflow: hidden;
    width: 0%;
    animation: widen 1s ease-in-out;
  }
  .bg_gradient_yellow{
    @apply bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-200
  }
}
@keyframes widen {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
